{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="row">
        {% if mensaje %}
            {% if insercion %}
                <div class="alert alert-success" role="alert">{{mensaje}}</div>
            {% else %}
                <div class="alert alert-danger" role="alert">{{mensaje}}</div>
            {% endif %}
        {% endif %}
        <form action="autenticando" method="POST">
            <div class="form-group">
                <label for="email">Correo</label>
                <input type="text" name="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary"> Entrar </button>
                <a href="registro">Registrarse</a>
            </div>
        </form>
    </div>
{% endblock %}