{% extends "base.html" %}
{% block title %}Registro{% endblock %}
{% block content %}
    <div class="row">
        {% if mensaje %}
           <div class="alert alert-danger" role="alert">{{mensaje}}</div>
        {% endif %}
        <form action="./registrando" method="POST">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" class="form-control" placeholder="Nombre" minlength="3">
            </div>
            <div class="form-group">
                <label for="email">Correo</label>
                <input type="text" name="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="pais">País</label>
                <select name="pais" class="form-control">
                    <option value="">--Selecciona un pais--</option>
                    {% for pais in paises %}
                        <option value="{{ pais.id }}">{{ pais.pais }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary"> Registrarse </button>
                <a href="./">Ir al login</a>
            </div>
        </form>
    </div>
{% endblock %}