{% extends "base.html" %}
{% block title %}Usuarios{% endblock %}
{% block content %}
    <div class="row">
        <form action="./resultados" method="POST">
            <div class="form-group">
                <label for="buscador">Buscador: </label>
                <input type="text" name="buscador" class="form-control" placeholder="Buscar">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Buscar</button>
                <a href="./cerrarsesion">Cerrar sesión</a>
            </div>
        </form>
        {% if usuarios %}
            <table class="table table-striped">
                <trhead>
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Pais</th>
                    </tr>
                </trhead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.email}}</td>
                        <td>{{usuario.pais}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}